# Copyright 2018-2022 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack with an order definition suitable for Java applications"
  homepage = "https://github.com/paketo-buildpacks/java"
  id = "paketo-buildpacks/java"
  keywords = ["java", "composite"]
  name = "Paketo Buildpack for Java"
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/java/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "buildpack.toml"]

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.9.1"

  [[order.group]]
    id = "paketo-buildpacks/bellsoft-liberica"
    version = "11.0.5"

  [[order.group]]
    id = "paketo-buildpacks/yarn"
    optional = true
    version = "1.3.31"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "5.2.5"

  [[order.group]]
    id = "paketo-buildpacks/syft"
    optional = true
    version = "2.8.0"

  [[order.group]]
    id = "paketo-buildpacks/leiningen"
    optional = true
    version = "4.11.1"

  [[order.group]]
    id = "paketo-buildpacks/clojure-tools"
    optional = true
    version = "2.14.6"

  [[order.group]]
    id = "paketo-buildpacks/gradle"
    optional = true
    version = "7.17.0"

  [[order.group]]
    id = "paketo-buildpacks/maven"
    optional = true
    version = "6.19.3"

  [[order.group]]
    id = "paketo-buildpacks/sbt"
    optional = true
    version = "6.17.8"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "3.4.1"

  [[order.group]]
    id = "paketo-buildpacks/executable-jar"
    optional = true
    version = "6.12.1"

  [[order.group]]
    id = "paketo-buildpacks/apache-tomcat"
    optional = true
    version = "8.4.7"

  [[order.group]]
    id = "paketo-buildpacks/apache-tomee"
    optional = true
    version = "1.11.1"

  [[order.group]]
    id = "paketo-buildpacks/liberty"
    optional = true
    version = "5.0.3"

  [[order.group]]
    id = "paketo-buildpacks/dist-zip"
    optional = true
    version = "5.9.1"

  [[order.group]]
    id = "paketo-buildpacks/spring-boot"
    optional = true
    version = "5.32.1"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.11.0"

  [[order.group]]
    id = "paketo-buildpacks/jattach"
    optional = true
    version = "1.9.1"

  [[order.group]]
    id = "paketo-buildpacks/azure-application-insights"
    optional = true
    version = "5.24.0"

  [[order.group]]
    id = "paketo-buildpacks/google-stackdriver"
    optional = true
    version = "9.3.2"

  [[order.group]]
    id = "paketo-buildpacks/datadog"
    optional = true
    version = "5.30.0"

  [[order.group]]
    id = "paketo-buildpacks/java-memory-assistant"
    optional = true
    version = "1.7.1"

  [[order.group]]
    id = "paketo-buildpacks/encrypt-at-rest"
    optional = true
    version = "4.8.7"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.8.1"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.8.1"
